<div class="header">
  <div class="header-elements">
    <a href="" class="logo">Merchant.com</a>
    <div class="search">
      <input type="text" class="search-input" placeholder="Search...">
      <button class="search-button">
        <p class="material-symbols-rounded">
          search
        </p>
      </button>
    </div>
    <div class="header-links">
      <a href="">
        <p class="material-symbols-rounded">
          question_answer
        </p>
      </a>
      <a href="">
        <p class="material-symbols-rounded">
          shopping_cart
        </p>
      </a>
      <a [routerLink]="['/favorites']">
        <p class="material-symbols-rounded">
          favorite
        </p>
      </a>
    </div>
    <a href="" class="account">Account</a>
  </div>
</div>