@import "../shared/variables.scss";
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20,100,1,-25";

.header {
  background-color: $primary;
  height: 50px;
  padding: 15px 0px 15px;
  color: $accent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
}
.material-symbols-rounded {
  font-size: 30px;
}
p {
  margin: 5px;
}
.header-elements {
  display: flex;
  align-items: center;
  .logo {
    margin-right: 80px;
    font-size: 22px;
  }
  .search {
    display: flex;
    align-items: center;
    margin-right: 50px;
    background-color: azure;
  }
  .search-input {
    width: 250px;
    padding: 10px;
    color: $accent;
    border: none;
    outline: none;
    font-size: 16px;
    &::placeholder {
      color: $accent;
      opacity: 0.8;
    }
  }
  .search-button {
    color: $primary;
    background-color: $accent;
    border: none;
    cursor: pointer;
  }
  .header-links {
    display: flex;
    flex-shrink: unset;
    margin-right: 150px;
    a {
      margin: 10px;
    }
  }
}
