.main-content {
  margin: 0 auto;
  padding: 20px;
  -webkit-box-shadow: inset 0px 10px 28px -28px rgba(66, 68, 90, 1);
  -moz-box-shadow: inset 0px 10px 28px -28px rgba(66, 68, 90, 1);
  box-shadow: inset 0px 10px 28px -28px rgba(66, 68, 90, 1);
}
