<div class="main-content">
  <div class="products-row">
    <p class="products-kategory-name">Selected for you - [Category of the product]</p>
    <div class="cards-row">
      <div class="card">
        <img
          src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM="
          class="card-img-top" alt="product-image" height="250px">
        <div class="card-body">
          <h2 class="card-product-price">$00.00</h2>
          <p class="card-product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente maxime
            illo quibusdam dolores! Sunt atque voluptate ullam ad!</p>
          <p class="card-delivery-info">Delivery on [weekday]</p>
        </div>
      </div>
    </div>
  </div>
</div>